* {
  font-family: var(--mdc-typography-body1-font-family,var(--mdc-typography-font-family,Roboto,sans-serif));
  font-size: 14px;
  color: #424242;
  line-height: var(--mdc-typography-body1-line-height,1.5);
  letter-spacing: var(--mdc-typography-body1-letter-spacing,normal);
  text-transform: var(--mdc-typography-body1-text-transform,inherit);
  font-weight: lighter;
}
.header {
  height: 120px;
  width: 100%;
  background-color: #E9EEF6;
  padding-top: 10px;
}

.content {
  width: 100%;
  background-color: #F6F7F8;
}

.task-container{
  width: 60%;
  margin: auto;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.task-item {
  flex: 33.33%;
}

.task-item h3 {
  width: 100%;
  display: inline-block;
  margin: auto;
  text-align: center;
  padding: 10px 0 10px 0;
}

.task-wrapper{
  width: 80%;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  background-color: white;
	box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -2px rgb(0 0 0 / 20%), 0 1px 4px 0 rgb(0 0 0 / 12%);
  border-radius: 2px;
}

.task-top{
  width: 100%;
  height: 2px;
  background-color: #42a5f5;
}

.task-holder{
  width: 100%;
  height: 98%;
  display : flex;
  flex-direction: column;
  position: relative;
}

.task-header{
  width: 100%;
  height: 30px;
  padding: 5px;
  font-weight: lighter;
  font-size: 20px;
  text-transform: uppercase;
}

.task-desc {
  width: 100%;
  padding: 10px 5px 5px 5px;
  min-height: 100px;
  font-style: italic;
}
.task-bottom {
  width: 100%;
  display: flex;
  padding: 10px 5px 5px 5px;
  background-color: #ede7f6;
}

.task-assign, .task-action {
  flex: 50%;
}
.task-action {
  text-align: right;
}

.task-assign {
  font-weight: bold;
  color: #1a237e;
  font-size: 16px;
}

.task-user {
  font-size: 16px;
  display: inline-block;
  color: #ff6f00;
  margin-left: 5px;
  width: 20px;
}

.act-edit {
  color: #67daff;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.act-del {
  color: #e64a19;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

/* ================= LoGIN STYLE ================== */
.logo {
  font-size: 40px;
  color: #919191;
}

.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}