.user-container {
    width: 60%;
    margin: auto;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
}

.user-wrapper {
    flex: auto;
    width: 250px;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -2px rgb(0 0 0 / 20%), 0 1px 4px 0 rgb(0 0 0 / 12%);
    border-radius: 2px;
}

.user-top {
    width: 100%;
    height: 2px;
    background-color: #42a5f5;   
}

.user-holder {
    padding: 5px;
}

.user-info {
    width: 100%;
}

.user-label {
    display: inline-block;
    width: 20px;
}

.user-label i{
    color: dodgerblue;
    font-weight: bold;
}

.user-value {
    display: inline-block;
    width: 80%;
    font-weight: bold;
}

.user-bottom {
    width: 100%;
    padding: 10px 5px 5px 5px;
    background-color: #ede7f6;
}

.user-action {
    text-align: right;
}
  